{
  "openapi": "3.0.3",
  "info": {
    "title": "World Anvil Public API Documentation",
    "version": "2.0.0 - Boromir",
    "contact": {
      "name": "World Anvil Team",
      "email": "contact@worldanvil.com",
      "url": "https://www.worldanvil.com"
    },
    "license": {
      "name": "API License",
      "url": "https://www.worldanvil.com/api/external/boromir/documentation#licence-section"
    },
    "description": "Welcome to the World Anvil Public API Documentation. This API provides developers and World Anvil users with programmatic access to the extensive features of the World Anvil worldbuilding platform.\nWhether you're building integrations, automating tasks, or creating custom experiences, this API empowers you to interact with your worldbuilding data seamlessly."
  },
  "servers": [
    {
      "url": "https://www.worldanvil.com/api/external/boromir",
      "description": "Boromir Main Server",
      "variables": {}
    }
  ],
  "paths": {
    "/article": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "Read Article",
        "description": "Retrieve an article with the given id. The granularity query parameter can be used to specify  the level of detail of the article. The default is 0.  The higher the granularity, the more fields are returned.\nCheck the schemas for the available fields. The generic fields are listed per granularity level. The template specific fields are listed per template (not complete). They appear on granularity level 0, 1 or 2.\n",
        "operationId": "readArticle",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "-1",
                "0",
                "1",
                "2",
                "3"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested article resource.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                        },
                        {
                          "type": "object",
                          "title": "Article (Any) - GR -1",
                          "properties": {
                            "isEditable": {
                              "type": "boolean",
                              "readOnly": true
                            },
                            "success": {
                              "type": "boolean",
                              "readOnly": true
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1article/get/responses/200/content/application~1json/schema/oneOf/0"
                        },
                        {
                          "$ref": "#/paths/~1article/patch/requestBody/content/application~1json/schema/allOf/1"
                        },
                        {
                          "title": "Article (Generic) - GR 0",
                          "description": "Schema of a generic article with the core properties."
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1article/get/responses/200/content/application~1json/schema/oneOf/1"
                        },
                        {
                          "type": "object",
                          "title": "Article (Generic) - GR 1",
                          "properties": {
                            "content": {
                              "type": "string",
                              "example": "Content"
                            },
                            "author": {
                              "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema"
                            },
                            "category": {
                              "allOf": [
                                {
                                  "$ref": "#/paths/~1category/put/responses/200/content/application~1json/schema"
                                },
                                {
                                  "type": "object",
                                  "nullable": true
                                }
                              ]
                            },
                            "world": {
                              "$ref": "#/paths/~1world/put/responses/200/content/application~1json/schema"
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1article/get/responses/200/content/application~1json/schema/oneOf/2"
                        },
                        {
                          "$ref": "#/paths/~1article/patch/requestBody/content/application~1json/schema/allOf/2"
                        },
                        {
                          "type": "object",
                          "description": "These are the object properties of the article which can be updated.",
                          "properties": {
                            "cover": {
                              "allOf": [
                                {
                                  "$ref": "#/paths/~1image/patch/responses/200/content/application~1json/schema"
                                },
                                {
                                  "nullable": true
                                }
                              ]
                            },
                            "gallery": {
                              "allOf": [
                                {
                                  "$ref": "#/paths/~1image/get/responses/200/content/application~1json/schema/oneOf/2/allOf/1/properties/gallieries/items"
                                },
                                {
                                  "type": "object",
                                  "nullable": true
                                }
                              ]
                            },
                            "articleNext": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "articlePrevious": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "block": {
                              "allOf": [
                                {
                                  "$ref": "#/paths/~1block/put/responses/200/content/application~1json/schema"
                                },
                                {
                                  "type": "object",
                                  "nullable": true
                                }
                              ]
                            },
                            "orgchart": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "title": "Org Chart",
                                  "description": "Org Chart resource.",
                                  "readOnly": true,
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "nullable": false,
                                      "readOnly": true
                                    },
                                    "title": {
                                      "type": "string",
                                      "example": "Org Chart Name",
                                      "readOnly": true
                                    },
                                    "slug": {
                                      "type": "string",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "state": {
                                      "type": "string",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "isWip": {
                                      "type": "boolean",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "isDraft": {
                                      "type": "boolean",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "entityClass": {
                                      "type": "string",
                                      "enum": [
                                        "OrgChart"
                                      ],
                                      "readOnly": true
                                    },
                                    "icon": {
                                      "type": "string",
                                      "readOnly": true
                                    },
                                    "url": {
                                      "type": "string",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "subscribergroups": {
                                      "type": "array",
                                      "example": [],
                                      "readOnly": true,
                                      "items": {
                                        "$ref": "#/paths/~1subscribergroup/patch/responses/200/content/application~1json/schema"
                                      }
                                    },
                                    "folderId": {
                                      "type": "string",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "tags": {
                                      "type": "string",
                                      "nullable": true,
                                      "readOnly": true
                                    },
                                    "updateDate": {
                                      "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "nullable": true
                                }
                              ]
                            },
                            "manuscripts": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1world~1manuscripts/post/responses/200/content/application~1json/schema/properties/entities/items"
                              },
                              "example": []
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1article/get/responses/200/content/application~1json/schema/oneOf/3"
                        },
                        {
                          "type": "object",
                          "title": "Article (Generic) - GR 3",
                          "properties": {
                            "ancestry": {
                              "type": "object",
                              "description": "The ancestry of the article. The firstUp, secondUp, and thirdUp fields are the first, second, and third  parent article category or world of the article. Note that secondUp and thirdUp are nullable.\n",
                              "readOnly": true,
                              "properties": {
                                "firstUp": {
                                  "oneOf": [
                                    {
                                      "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                                    },
                                    {
                                      "$ref": "#/paths/~1category/put/responses/200/content/application~1json/schema"
                                    },
                                    {
                                      "$ref": "#/paths/~1world/put/responses/200/content/application~1json/schema"
                                    }
                                  ]
                                },
                                "secondUp": {
                                  "nullable": true,
                                  "oneOf": [
                                    {
                                      "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                                    },
                                    {
                                      "$ref": "#/paths/~1category/put/responses/200/content/application~1json/schema"
                                    },
                                    {
                                      "$ref": "#/paths/~1world/put/responses/200/content/application~1json/schema"
                                    }
                                  ]
                                },
                                "thirdUp": {
                                  "nullable": true,
                                  "oneOf": [
                                    {
                                      "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                                    },
                                    {
                                      "$ref": "#/paths/~1category/put/responses/200/content/application~1json/schema"
                                    },
                                    {
                                      "$ref": "#/paths/~1world/put/responses/200/content/application~1json/schema"
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "title": "Location Template Fields",
                      "description": "All the fields available for the location template. Combine this with the generic article fields for a complete list of fields.",
                      "properties": {
                        "alternativename": {
                          "type": "string",
                          "nullable": true,
                          "example": "Alternative Name(s)"
                        },
                        "geography": {
                          "type": "string",
                          "nullable": true
                        },
                        "naturalresources": {
                          "type": "string",
                          "nullable": true
                        },
                        "population": {
                          "type": "string",
                          "nullable": true
                        },
                        "areaSize": {
                          "type": "string",
                          "nullable": true
                        },
                        "demographics": {
                          "type": "string",
                          "nullable": true
                        },
                        "demonym": {
                          "type": "string",
                          "nullable": true
                        },
                        "defences": {
                          "type": "string",
                          "nullable": true,
                          "example": "Defenses"
                        },
                        "infrastructure": {
                          "type": "string",
                          "nullable": true
                        },
                        "guilds": {
                          "type": "string",
                          "nullable": true
                        },
                        "history": {
                          "type": "string",
                          "nullable": true,
                          "example": "History"
                        },
                        "tourism": {
                          "type": "string",
                          "nullable": true,
                          "example": "Tourism"
                        },
                        "industry": {
                          "type": "string",
                          "nullable": true
                        },
                        "architecture": {
                          "type": "string",
                          "nullable": true,
                          "example": "Architecture"
                        },
                        "government": {
                          "type": "string",
                          "nullable": true
                        },
                        "assets": {
                          "type": "string",
                          "nullable": true
                        },
                        "locationTemplateType": {
                          "type": "string",
                          "nullable": true
                        },
                        "constructed": {
                          "type": "string",
                          "nullable": true,
                          "example": 2020
                        },
                        "ruined": {
                          "type": "string",
                          "nullable": true,
                          "example": 2314
                        },
                        "florafauna": {
                          "type": "string",
                          "nullable": true
                        },
                        "ecosystem": {
                          "type": "string",
                          "nullable": true
                        },
                        "ecosystemCycles": {
                          "type": "string",
                          "nullable": true
                        },
                        "localizedPhenomena": {
                          "type": "string",
                          "nullable": true
                        },
                        "climate": {
                          "type": "string",
                          "nullable": true
                        },
                        "alterations": {
                          "type": "string",
                          "nullable": true,
                          "example": "Alterations"
                        },
                        "purpose": {
                          "type": "string",
                          "nullable": true,
                          "example": "Purpose"
                        },
                        "design": {
                          "type": "string",
                          "nullable": true,
                          "example": "Design"
                        },
                        "entries": {
                          "type": "string",
                          "nullable": true,
                          "example": "Entries"
                        },
                        "denizens": {
                          "type": "string",
                          "nullable": true,
                          "example": "Denizens"
                        },
                        "valuables": {
                          "type": "string",
                          "nullable": true,
                          "example": "Valuables & Treasure"
                        },
                        "hazards": {
                          "type": "string",
                          "nullable": true,
                          "example": "Hazards & Traps"
                        },
                        "effects": {
                          "type": "string",
                          "nullable": true,
                          "example": "Environment & Effects"
                        },
                        "sensory": {
                          "type": "string",
                          "nullable": true,
                          "example": "Sensory & Appearances"
                        },
                        "properties": {
                          "type": "string",
                          "nullable": true,
                          "example": "Special Properties"
                        },
                        "contents": {
                          "type": "string",
                          "nullable": true,
                          "example": "Contents & Furnishings"
                        },
                        "pointOfInterest": {
                          "type": "string",
                          "nullable": true
                        },
                        "district": {
                          "type": "string",
                          "nullable": true
                        },
                        "parent": {
                          "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                        },
                        "type": {
                          "type": "object",
                          "title": "LocationType",
                          "description": "Types associated with the three location templates.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "title": {
                              "type": "string",
                              "example": "Abbey"
                            }
                          }
                        },
                        "person": {
                          "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                        },
                        "vehicle": {
                          "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                        },
                        "rank": {
                          "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                        },
                        "organization": {
                          "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                        },
                        "additionalRulers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                          }
                        },
                        "contenders": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                          }
                        },
                        "connectedRooms": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Article"
        ],
        "summary": "Create Article",
        "description": "Create an article. Check the schemas for the required fields to create an article. To add template specific fields check the template schemas in the article GET endpoint.\n",
        "operationId": "createArticle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1article/patch/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "title": "Article (Generic) - Create",
                    "description": "The fields to create a new article. The fields with a * are required.",
                    "required": [
                      "title",
                      "templateType",
                      "world"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created article resource.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1article/patch/requestBody/content/application~1json/schema/allOf/0"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "subscribergroups": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1subscribergroup/patch/responses/200/content/application~1json/schema"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Article"
        ],
        "summary": "Delete Article",
        "description": "Delete an article. This action is irreversible.",
        "operationId": "deleteArticle",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Article"
        ],
        "summary": "Update Article",
        "description": "Update the metadata, content and relationships of an article. Check the schemas for the required fields to update an article.  To add template specific fields check the template schemas in the article GET endpoint.",
        "operationId": "updateArticle",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "title": "Article (Any)",
                    "description": "Schema of an article.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                      },
                      "title": {
                        "type": "string",
                        "example": "Article Title"
                      },
                      "slug": {
                        "type": "string",
                        "example": "article-title-landmark",
                        "readOnly": true
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "public",
                          "private"
                        ]
                      },
                      "isWip": {
                        "type": "boolean"
                      },
                      "isDraft": {
                        "type": "boolean"
                      },
                      "entityClass": {
                        "type": "string",
                        "readOnly": true,
                        "enum": [
                          "Ethnicity",
                          "Article",
                          "Landmark",
                          "Location",
                          "Ritual",
                          "Myth",
                          "Technology",
                          "Spell",
                          "Law",
                          "Prose",
                          "MilitaryConflict",
                          "Language",
                          "Document",
                          "Person",
                          "Organization",
                          "Plot",
                          "Species",
                          "Vehicle",
                          "Profession",
                          "Item",
                          "Formation",
                          "Rank",
                          "Condition",
                          "Material",
                          "Settlement",
                          "Report"
                        ]
                      },
                      "icon": {
                        "type": "string",
                        "nullable": true,
                        "example": "ra ra-dragon"
                      },
                      "url": {
                        "type": "string",
                        "readOnly": true,
                        "example": "http://www.worldanvil.com/w/<world-slug>/a/<article-slug>"
                      },
                      "folderId": {
                        "type": "string",
                        "readOnly": true,
                        "format": "uuid"
                      },
                      "tags": {
                        "type": "string",
                        "example": "tag,tag2"
                      },
                      "updateDate": {
                        "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1000
                      },
                      "excerpt": {
                        "type": "string",
                        "example": "Excerpt"
                      },
                      "wordcount": {
                        "type": "integer",
                        "format": "int32",
                        "example": 37,
                        "readOnly": true
                      },
                      "creationDate": {
                        "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                      },
                      "publicationDate": {
                        "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                      },
                      "notificationDate": {
                        "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                      },
                      "likes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema"
                        },
                        "readOnly": true
                      },
                      "views": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                      },
                      "userMetadata": {
                        "nullable": true,
                        "readOnly": true
                      },
                      "articleMetadata": {
                        "nullable": true,
                        "readOnly": true
                      },
                      "cssClasses": {
                        "type": "string",
                        "example": "a-css-class"
                      },
                      "displayCss": {
                        "type": "string",
                        "format": "css"
                      },
                      "templateType": {
                        "type": "string",
                        "enum": [
                          "article"
                        ]
                      },
                      "customArticleTemplate": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Article (Generic) - GR 2",
                    "properties": {
                      "pronunciation": {
                        "type": "string",
                        "example": "Pronunciation"
                      },
                      "snippet": {
                        "type": "string",
                        "example": "Mouseover Snippet"
                      },
                      "seeded": {
                        "type": "string",
                        "example": "STORYTELLER SEEDS"
                      },
                      "sidebarcontent": {
                        "type": "string",
                        "example": "Sidebar: Top"
                      },
                      "sidepanelcontenttop": {
                        "type": "string",
                        "example": "Sidebar: Content Panel Top"
                      },
                      "sidepanelcontent": {
                        "type": "string",
                        "example": "Sidebar: Content Panel Bottom"
                      },
                      "sidebarcontentbottom": {
                        "type": "string",
                        "example": "Sidebar: Bottom"
                      },
                      "footnotes": {
                        "type": "string",
                        "example": "Footnotes"
                      },
                      "fullfooter": {
                        "type": "string",
                        "example": "Full Width Footer"
                      },
                      "authornotes": {
                        "type": "string",
                        "example": "Author's Notes"
                      },
                      "scrapbook": {
                        "type": "string",
                        "example": "Scrapbook"
                      },
                      "credits": {
                        "type": "string",
                        "example": "Credits"
                      },
                      "displaySidebar": {
                        "type": "boolean"
                      },
                      "timeline": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1timeline/put/responses/200/content/application~1json/schema"
                          },
                          {
                            "readOnly": true
                          }
                        ]
                      },
                      "prompt": {
                        "type": "object",
                        "title": "Prompt",
                        "description": "Worldbuilding prompt resource.",
                        "readOnly": true,
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true
                          },
                          "title": {
                            "type": "string",
                            "example": "Worldbuilding Prompt Name",
                            "readOnly": true
                          },
                          "slug": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "state": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "isWip": {
                            "type": "boolean",
                            "nullable": true,
                            "readOnly": true
                          },
                          "isDraft": {
                            "type": "boolean",
                            "nullable": true,
                            "readOnly": true
                          },
                          "entityClass": {
                            "type": "string",
                            "enum": [
                              "Prompt"
                            ],
                            "readOnly": true
                          },
                          "icon": {
                            "type": "string",
                            "readOnly": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "subscribergroups": {
                            "type": "array",
                            "example": [],
                            "readOnly": true,
                            "items": {
                              "$ref": "#/paths/~1subscribergroup/patch/responses/200/content/application~1json/schema"
                            }
                          },
                          "folderId": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "tags": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "updateDate": {
                            "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                          }
                        }
                      },
                      "showSeeded": {
                        "type": "boolean"
                      },
                      "webhookUpdate": {
                        "type": "boolean"
                      },
                      "communityUpdate": {
                        "type": "boolean"
                      },
                      "commentPlaceholder": {
                        "type": "string",
                        "nullable": true,
                        "example": "Comment Feedback Placeholder"
                      },
                      "metaTitle": {
                        "type": "string",
                        "nullable": true,
                        "example": "Page Title (SEO Metadata)"
                      },
                      "metadDescription": {
                        "type": "string",
                        "nullable": true,
                        "example": "Page Description (SEO Metadata)"
                      },
                      "subheading": {
                        "type": "string",
                        "nullable": true,
                        "example": "Subheading"
                      },
                      "coverIsMap": {
                        "type": "boolean"
                      },
                      "isFeaturedArticle": {
                        "type": "boolean"
                      },
                      "isAdultContent": {
                        "type": "boolean"
                      },
                      "isLocked": {
                        "type": "boolean"
                      },
                      "allowComments": {
                        "type": "boolean"
                      },
                      "showInToc": {
                        "type": "boolean"
                      },
                      "isEmphasized": {
                        "type": "boolean"
                      },
                      "displayAuthor": {
                        "type": "boolean"
                      },
                      "displayChildrenUnder": {
                        "type": "boolean"
                      },
                      "displayTitle": {
                        "type": "boolean"
                      },
                      "displaySheet": {
                        "type": "boolean"
                      },
                      "badge": {
                        "type": "string",
                        "nullable": true,
                        "readOnly": true
                      },
                      "secrets": {
                        "type": "array",
                        "items": {
                          "$ref": "#/paths/~1secret/put/responses/200/content/application~1json/schema"
                        },
                        "readOnly": true
                      },
                      "histories": {
                        "type": "array",
                        "items": {
                          "$ref": "#/paths/~1history/put/requestBody/content/application~1json/schema"
                        },
                        "readOnly": true
                      },
                      "editURL": {
                        "type": "string",
                        "example": "http://www.worldanvil.com/world/article/<id>/edit",
                        "readOnly": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "manuscripts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            }
                          }
                        }
                      },
                      "block": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      },
                      "articleParent": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "gallery": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      },
                      "articlePrevious": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "articleNext": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "cover": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      },
                      "world": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "subscribergroups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "title": "Article (Generic) - Update",
                    "description": "All fields are optional. Only the fields that are provided will be updated."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated article resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/world/articles": {
      "post": {
        "tags": [
          "Article"
        ],
        "summary": "List Articles By World",
        "description": "Retrieve a list of all articles within a world, 50 articles at a time.\nUse offset to skip the first n elements of the result, and limit to specify the maximum  number of elements to retrieve. \nThe optional category body property can be used to filter the results by category. Use the value \"-1\" to get uncategorized articles. Uncategorized articles includes articles that are not assigned to any category.  This means articles with a parent articles are included as well.\n",
        "operationId": "listArticlesByCategory",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the world to retrieve articles from.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "limit",
                  "offset"
                ],
                "properties": {
                  "limit": {
                    "type": "string",
                    "minimum": 1,
                    "maximum": 50,
                    "example": 50
                  },
                  "offset": {
                    "type": "string",
                    "minimum": 0,
                    "example": 0
                  },
                  "category": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "-1"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of article metadata resources within the limit at the offset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1article/put/responses/200/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/block": {
      "get": {
        "tags": [
          "Block"
        ],
        "summary": "Read Block",
        "description": "Read the content of a statblock.",
        "operationId": "readBlock",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "-1",
                "0",
                "2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statblock metadata resource.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1block/put/responses/200/content/application~1json/schema"
                        },
                        {
                          "type": "object",
                          "title": "Block - GR -1",
                          "properties": {
                            "isEditable": {
                              "type": "boolean",
                              "readOnly": true,
                              "example": true
                            },
                            "success": {
                              "type": "boolean",
                              "readOnly": true,
                              "example": true
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1block/get/responses/200/content/application~1json/schema/oneOf/0"
                        },
                        {
                          "type": "object",
                          "title": "Block - GR 0",
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "dataParser": {
                              "type": "string",
                              "format": "yaml"
                            },
                            "textualdata": {
                              "type": "string",
                              "format": "yaml"
                            },
                            "tabulardata": {
                              "type": "string",
                              "nullable": true
                            },
                            "jsondata": {
                              "type": "string",
                              "nullable": true,
                              "format": "json"
                            },
                            "isShared": {
                              "type": "boolean"
                            },
                            "isSRD": {
                              "type": "boolean"
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1block/get/responses/200/content/application~1json/schema/oneOf/1"
                        },
                        {
                          "type": "object",
                          "title": "Block - GR 2",
                          "properties": {
                            "template": {
                              "$ref": "#/paths/~1blocktemplate/put/responses/200/content/application~1json/schema"
                            },
                            "RPGSRD": {
                              "$ref": "#/paths/~1rpgsystem/get/responses/200/content/application~1json/schema/oneOf/0"
                            },
                            "author": {
                              "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema"
                            },
                            "folder": {
                              "$ref": "#/paths/~1blockfolder/put/responses/200/content/application~1json/schema"
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "put": {
        "tags": [
          "Block"
        ],
        "summary": "Create Block",
        "description": "Create a new statblock. Check the schema for the available and required fields.",
        "operationId": "createBlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1block/patch/requestBody/content/application~1json/schema"
                  },
                  {
                    "title": "Block - Create",
                    "description": "The fields you can set when creating a block. The required fields have a star.",
                    "required": [
                      "title",
                      "template",
                      "RPGSRD"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created statblock.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Block",
                  "description": "Metdata of a block.",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "title": {
                      "type": "string",
                      "example": "Block"
                    },
                    "slug": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "private",
                        "public"
                      ]
                    },
                    "isWip": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "isDraft": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "entityClass": {
                      "type": "string",
                      "enum": [
                        "Block"
                      ],
                      "readOnly": true
                    },
                    "icon": {
                      "type": "string",
                      "readOnly": true,
                      "example": "fa-solid fa-cube"
                    },
                    "url": {
                      "type": "string",
                      "example": "http://www.worldanvil.com/sheet/<id>/view",
                      "readOnly": true
                    },
                    "subscribergroups": {
                      "type": "array",
                      "readOnly": true,
                      "example": [],
                      "items": {
                        "$ref": "#/paths/~1subscribergroup/patch/responses/200/content/application~1json/schema"
                      }
                    },
                    "folderId": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "tags": {
                      "type": "string",
                      "example": "#character,#npc"
                    },
                    "updateDate": {
                      "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "delete": {
        "tags": [
          "Block"
        ],
        "summary": "Delete Block",
        "description": "Delete a statblock. This action is irreversible.",
        "operationId": "deleteBlock",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted statblock.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "patch": {
        "tags": [
          "Block"
        ],
        "summary": "Update Block",
        "description": "Update the statblock metadata. Check the schema for the available fields.",
        "operationId": "updateBlock",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1block/get/responses/200/content/application~1json/schema/oneOf/1"
                  },
                  {
                    "type": "object",
                    "title": "Block - Update",
                    "description": "The update schema for a block.",
                    "properties": {
                      "template": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      },
                      "RPGSRD": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "folder": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated statblock.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1block/put/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/blockfolder/blocks": {
      "post": {
        "tags": [
          "Block"
        ],
        "summary": "List Blocks By Block Folder",
        "description": "Retrieve a list of blocks within a block folder. Use offset to skip the first n elements of the result, and limit to specify the maximum number of elements to retrieve.",
        "operationId": "listBlocksByBlockFolder",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{blockFolderId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1markertypes/post/requestBody/content/application~1json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of blocks within a block folder.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1block/put/responses/200/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/blockfolder": {
      "get": {
        "tags": [
          "Block Folder"
        ],
        "summary": "Read Block Folder",
        "description": "Read the content of an block folder.",
        "operationId": "readBlockFolder",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "-1",
                "0",
                "2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block folder metadata resource.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1blockfolder/put/responses/200/content/application~1json/schema"
                        },
                        {
                          "type": "object",
                          "title": "Block Folder - GR -1",
                          "properties": {
                            "isEditable": {
                              "type": "boolean",
                              "example": true
                            },
                            "success": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1blockfolder/patch/requestBody/content/application~1json/schema"
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1blockfolder/patch/requestBody/content/application~1json/schema"
                        },
                        {
                          "type": "object",
                          "title": "Block Folder - GR 2",
                          "properties": {
                            "blocks": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1block/put/responses/200/content/application~1json/schema"
                              }
                            },
                            "author": {
                              "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema"
                            },
                            "world": {
                              "$ref": "#/paths/~1world/put/responses/200/content/application~1json/schema"
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "put": {
        "tags": [
          "Block Folder"
        ],
        "summary": "Create Block Folder",
        "description": "Create a new block folder. Check the schema for the available and required fields.",
        "operationId": "createBlockFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1blockfolder/patch/requestBody/content/application~1json/schema"
                      },
                      {
                        "type": "object",
                        "title": "Block Folder - Update",
                        "description": "The update schema for a block folder.",
                        "properties": {
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          },
                          "world": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          }
                        }
                      }
                    ]
                  },
                  {
                    "title": "Block Folder - Create",
                    "description": "The fields you can set when creating a block folder. The required fields have a star.",
                    "required": [
                      "title",
                      "world"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created block folder reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Block Folder",
                  "description": "Resource object of a block folder.",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "title": {
                      "type": "string",
                      "example": "Block Folder"
                    },
                    "slug": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "state": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "isWip": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "isDraft": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "entityClass": {
                      "type": "string",
                      "enum": [
                        "BlockFolder"
                      ],
                      "readOnly": true
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "subscribergroups": {
                      "type": "array",
                      "readOnly": true,
                      "example": [],
                      "items": {
                        "$ref": "#/paths/~1subscribergroup/patch/responses/200/content/application~1json/schema"
                      }
                    },
                    "folderId": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "tags": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "updateDate": {
                      "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "delete": {
        "tags": [
          "Block Folder"
        ],
        "summary": "Delete Block Folder",
        "description": "Delete a block folder. This action is irreversible. The blocks within the folder are NOT deleted.",
        "operationId": "deleteBlockFolder",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted the block folder.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "patch": {
        "tags": [
          "Block Folder"
        ],
        "summary": "Update Block Folder",
        "description": "Update the block folder metadata. Check the schema for the available fields.",
        "operationId": "updateBlockFolder",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1blockfolder/get/responses/200/content/application~1json/schema/oneOf/0"
                  },
                  {
                    "type": "object",
                    "title": "Block Folder - GR 0",
                    "properties": {
                      "identifier": {
                        "type": "string",
                        "example": "blockfolder",
                        "readOnly": true
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated the block folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1blockfolder/put/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/world/blockfolders": {
      "post": {
        "tags": [
          "Block Folder"
        ],
        "summary": "List Block Folders By World",
        "description": "Retrieve a list of block folders within a world. Use offset to skip the first n elements of the result, and limit to specify the maximum number of elements to retrieve.",
        "operationId": "listBlockFoldersByWorld",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1markertypes/post/requestBody/content/application~1json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of block folder metadata resources within the limit at the offset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1blockfolder/put/responses/200/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/blocktemplate": {
      "get": {
        "tags": [
          "Block Template"
        ],
        "summary": "Read Block Template",
        "description": "Retrieve a statblock template by id. Use the granularity parameter to determine the amount of data returned.",
        "operationId": "readBlockTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "-1",
                "0",
                "1",
                "2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1blocktemplate/put/responses/200/content/application~1json/schema"
                        },
                        {
                          "type": "object",
                          "title": "Block Template - GR -1",
                          "properties": {
                            "isEditable": {
                              "type": "string",
                              "nullable": true,
                              "readOnly": true
                            },
                            "success": {
                              "type": "string",
                              "nullable": true,
                              "readOnly": true
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1blocktemplate/get/responses/200/content/application~1json/schema/oneOf/0"
                        },
                        {
                          "type": "object",
                          "title": "Block Template - GR 0",
                          "description": "Metadata of a statblock template.",
                          "properties": {
                            "listtitle": {
                              "type": "string",
                              "nullable": true
                            },
                            "identifier": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "articleTemplate": {
                              "type": "string",
                              "nullable": true
                            },
                            "formSchemaParser": {
                              "type": "string",
                              "enum": [
                                "json",
                                "yaml"
                              ]
                            },
                            "formSchema": {
                              "oneOf": [
                                {
                                  "type": "string",
                                  "format": "json"
                                },
                                {
                                  "type": "string",
                                  "format": "yaml"
                                }
                              ]
                            },
                            "formDisplayStructure": {
                              "type": "string",
                              "nullable": true,
                              "format": "twig"
                            },
                            "displayStructure": {
                              "type": "string",
                              "nullable": true,
                              "format": "twig"
                            },
                            "displayBadge": {
                              "type": "string",
                              "nullable": true,
                              "format": "twig"
                            },
                            "displayStyling": {
                              "type": "string",
                              "nullable": true,
                              "format": "css"
                            },
                            "displayScripting": {
                              "type": "string",
                              "nullable": true
                            },
                            "displayTrackable": {
                              "type": "string",
                              "nullable": true,
                              "format": "twig"
                            },
                            "displayStylingRaw": {
                              "type": "string",
                              "nullable": true,
                              "format": "css"
                            },
                            "hasRawJson": {
                              "type": "boolean"
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1blocktemplate/get/responses/200/content/application~1json/schema/oneOf/1"
                        },
                        {
                          "type": "object",
                          "title": "Block Template - GR 1",
                          "description": "Metadata of a statblock template returned with granularity 1.",
                          "properties": {
                            "isShared": {
                              "type": "boolean"
                            },
                            "isSharedWithPlayers": {
                              "type": "boolean"
                            },
                            "heroesEnabled": {
                              "type": "boolean"
                            },
                            "systemMeta": {
                              "type": "string",
                              "nullable": true,
                              "format": "json"
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1blocktemplate/get/responses/200/content/application~1json/schema/oneOf/2"
                        },
                        {
                          "type": "object",
                          "title": "Block Template - GR 2",
                          "description": "Metadata of a statblock template returned with granularity 2.",
                          "properties": {
                            "parts": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1blocktemplatepart/put/responses/200/content/application~1json/schema"
                              }
                            },
                            "RPGSRD": {
                              "$ref": "#/paths/~1rpgsystem/get/responses/200/content/application~1json/schema/oneOf/0"
                            },
                            "author": {
                              "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema"
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "put": {
        "tags": [
          "Block Template"
        ],
        "summary": "Create Block Template",
        "description": "Create a new statblock template. Check the schema for the required and optional fields.",
        "operationId": "createBlockTemplate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1blocktemplate/get/responses/200/content/application~1json/schema/oneOf/1"
                  },
                  {
                    "type": "object",
                    "title": "Block Template - Create",
                    "description": "All the fields that can be set on a statblock template when creating it.",
                    "required": [
                      "title",
                      "formSchemaParser",
                      "formSchema",
                      "RPGSRD"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created statblock template.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Block Template",
                  "description": "Basic identifing metadata of a statblock template.",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "title": {
                      "type": "string",
                      "example": "Block Template"
                    },
                    "slug": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "state": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "isWip": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "isDraft": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "entityClass": {
                      "type": "string",
                      "enum": [
                        "BlockTemplate"
                      ],
                      "readOnly": true
                    },
                    "icon": {
                      "type": "string",
                      "enum": [
                        "fa-solid fa-box-archive"
                      ],
                      "readOnly": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "subscribergroups": {
                      "type": "array",
                      "readOnly": true,
                      "example": [],
                      "items": {
                        "$ref": "#/paths/~1subscribergroup/patch/responses/200/content/application~1json/schema"
                      }
                    },
                    "folderId": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "tags": {
                      "type": "string",
                      "nullable": true,
                      "readOnly": true
                    },
                    "updateDate": {
                      "$ref": "#/paths/~1user/patch/responses/200/content/application~1json/schema/properties/updateDate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "delete": {
        "tags": [
          "Block Template"
        ],
        "summary": "Delete Block Template",
        "description": "Delete a statblock template. This will also delete all the statblock template parts that belong to this statblock template. This action cannot be undone.",
        "operationId": "deleteBlockTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted statblock template.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "patch": {
        "tags": [
          "Block Template"
        ],
        "summary": "Update Block Template",
        "description": "Update a statblock template. Check the schema for the required and optional fields.",
        "operationId": "updateBlockTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1blocktemplate/get/responses/200/content/application~1json/schema/oneOf/1"
                  },
                  {
                    "type": "object",
                    "title": "Block Template - Update",
                    "description": "All the fields that can be updated on a statblock template."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated statblock template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1blocktemplate/put/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/user/blocktemplates": {
      "post": {
        "tags": [
          "Block Template"
        ],
[...]
